<ion-view view-title="Start Page" ng-controller="counterPage">
<ion-content  class="marginDown counter-container">
  <form>
    <h2>Plan your trip</h2>
    <fieldset class="card">
      <label for="timeSetter">What is the latest time you have to be back?</label>
      <input id="timeSetter" type="time" ng-model="settings.time_left"  placeholder="HH:MM">
    </fieldset>

    <fieldset class="card">
      <label for="finalDestination">What is your final location?</label>
       <input id="finalDestination" type="text" ng-model="settings.final_dest_text" ng-change="on_search()" placeholder="{{ settings.final_dest }}">
        <ul class="typeahead" >
          <li ng-repeat="result in results" ng-click="set_location(result)">{{result.description}}</li>
        </ul>
      <label for="useCurrent">
        Use current location
        <input id="useCurrent" type="checkbox"></input>
        <i class="icon ion-ios-navigate"></i>
      </label>

    </fieldset>
    <button ng-click="submit()" class="button button-positive action">Submit</button>
  </form>

</ion-content>
<ion-footer-bar ng-if="count_down.length > 0">
  <button class="button button-energized button-clear counter_active">{{ count_down.timeString }}</button>
</ion-footer-bar>
</ion-view>
