<ion-view view-title="Start Page" ng-controller="counterPage">
<ion-content  class="marginDown">
<form>
  <label class="item item-input" for="timeSetter">What is the latest time you have to be back?</label>
  <input id="timeSetter" type="time" ng-model="settings.time_left"  placeholder="HH:MM">

  <label class="item item-input" for="finalDestination">What is your final location?</label>
  <input id="finalDestination" type="text" ng-model="settings.final_dest" placeholder="{{ settings.final_dest }}">

  <button ng-click="timex()" class="button button-block button button-positive">Submit</button>
</form>




</ion-content>
<ion-footer-bar>
<div class="button-bar">
  <button class="button button-energized button-clear counter_active">{{ count_down }}</button>
</div>
</ion-footer-bar>
</ion-view>
