<ion-view view-title="Start Page" ng-controller="counterPage">
<ion-content  class="marginDown counter-container">
  <form>
    <h2>Plan your trip</h2>
    <fieldset class="card">
      <label for="timeSetter">What is the latest time you have to be back?</label>
      <input id="timeSetter" type="time" ng-model="settings.time_left"  placeholder="HH:MM">
    </fieldset>

    <fieldset class="card">
      <label for="finalDestination">What is your final location?</label>
      <input id="finalDestination" type="text" ng-model="settings.final_dest" ng-change="on_search" placeholder="{{ settings.final_dest }}">
      <ul ng-repeat="result in results">
        <li>{{result.description}}</li>
      </ul>
    </fieldset>

    <button ng-click="timex()" class="button button-positive action">Submit</button>
  </form>

</ion-content>
<ion-footer-bar>
<!-- <div class="button-bar">
  <button class="button button-energized button-clear counter_active">{{ count_down }}</button>
</div> -->
</ion-footer-bar>
</ion-view>
