<ion-view view-title="Start Page" ng-controller="RateCtrl">
<ion-content  class="marginDown rate-container">
  <form>
    <h2>Share your love about <span>{{ place.name }}<span></h2>
    <button ng-click="rate()" class="button button-positive action">
    	<i class="icon ion-android-favorite"></i>
    	<span>Love Wall</span></button>
    <button class="button button-positive action">
    	<i class="icon ion-social-facebook"></i>
    	<span>Facebook</span>
    </button>
    <button class="button button-positive action">
    	<i class="icon ion-social-twitter"></i>
    	<span>Twitter</span>
    </button>
  </form>
  <h2>What's next?</h2>
  <a class="button button-positive action step" ng-click="clear()" href="#/app/start">Take me back</a>
  <a class="button button-positive action step" ng-click="clear()" href="#/app/places">Show more places</a>
</ion-content>
<ion-footer-bar ng-if="count_down.length > 0">
	<h2>Time left</h2>
  <button class="button button-energized button-clear counter_active">{{ count_down }}</button>
</ion-footer-bar>
<div ng-controller="weight">{{dist}}</div>
</ion-view>
