<ion-view view-title="Start Page" ng-controller="CatsCtrl">
  <ion-content class="start_background">

    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->
    <div class="row"><br></div>
    <div class="row row-center">
    	<div class="col">
        <h1>BritTrip</h1>
    		<!-- <div class="list"> -->
			  <!-- <label class="item item-input">
			    <input type="text" placeholder="Username">
			  </label>
			  <label class="item item-input">
			    <input type="password" placeholder="Password">
			  </label> -->
			<!-- </div> -->
    	</div>
	</div>
	<div class="row row-bottom">
		<div class="col">
			<button ng-click="cat()" id="#fbLoginButton" class="button button-block button button-positive">
			  Login with Facebook
			</button>
      <button class="button  button-block button button-positive">Sign up</button>
		</div>
	</div>
	
  </ion-content>
  
</ion-view>
