<ion-view view-title="Start Page" ng-controller="LoginCtrl">
  <ion-content class="start_background">

    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->
    <div class="row"><br></div>
    <div class="row row-center">
    	<div class="col">
        <h1>BritTrip</h1>
    		<button ng-click="login()" id="#fbLoginButton" class="button button-positive facebook">
        Login with Facebook
        </button>
        <button class="button button-positive signup">Sign up</button>
    	</div>
    </div>

  </ion-content>
  
</ion-view>
