<ion-view view-title="Places" ng-controller="GeoCtrl">
<ion-content  class="marginDown">
<div ng-if="my_lat == null" class="list card">
  <a ng-click="test('{{ my_lat }}','{{ my_long }}',25)" class="item item-icon-left assertive" href="#">
    <i class="icon ion-load-d"></i>
    Please wait, we are fetching your location
  </a>
</div>
<div ng-if="my_lat != null" class="list card">
  <a ng-click="test('{{ my_lat }}','{{ my_long }}',100)" class="item item-icon-left assertive" href="#">
    <i class="icon ion-map"></i>
    Show Places <span ng-if="Places != null"> {{Places.data.length}}</span>
  </a>
</div>
<div ng-if="Places != null" ng-repeat="i in Places.data">
  <div class="list card" ng-if="i.title.length > 1">
    <div class="item item-avatar">
      <img ng-src="http://www.visitbritain.org/images/britain_logo.jpg">
      <h2>{{ i.title }}  {{i.loves}}<i class="icon ion-ios-heart assertive"></i></h2>
      <p>{{ i.description }}</p>
      <p>{{timeLine[i.id].distance}}</p>
    </div>
    <div class="item item-image">
      <img ng-src="http://media.api.visitbritain.com/{{i.images[0]}}_cell_2x2_1280.jpg">
    </div>
    <a class="item item-icon-left assertive" href="http://maps.google.com/?saddr={{my_lat}},{{my_long}}&daddr={{i.location.lat}},{{i.location.lng}}">
      <i class="icon ion-ios-navigate-outline"></i>
      Take Me there
    </a>
  </div>
</div>
</ion-content>
<ion-footer-bar>
<div class="button-bar">
  <button class="button button-energized button-clear counter_active">{{ count_down }}</button>
</div>
</ion-footer-bar>
</ion-view>