<ion-view view-title="Places" ng-controller="GeoCtrl">
<ion-content  class="marginDown">
  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="text" ng-change="searchIt(text)" placeholder="Search">
    </label>
  </div>

  <div ng-if="results != null" ng-repeat="item in results" class="list card">

    <div class="item item-avatar">
      <img ng-src="http://www.visitbritain.org/images/britain_logo.jpg">
      <h2>{{item.title}}</h2>
    </div>

    <a class="item item-icon-left assertive" href="http://maps.google.com/?saddr={{my_lat}},{{my_long}}&daddr={{item.location.lat}},{{item.location.lng}}">
      <i class="icon ion-ios-navigate-outline"></i>
      Take Me there
    </a>

  </div>

</ion-view>