<ion-view view-title="Start Page" ng-controller="CatsCtrl">
  <ion-content class="start_background">

    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->
    <div class="row"><br></div>
    <div class="row row-center">
    	<div class="col">
    		<!-- <div class="list"> -->
			  <label class="item item-input">
			    <input type="text" placeholder="Username">
			  </label>
			  <label class="item item-input">
			    <input type="password" placeholder="Password">
			  </label>
			<!-- </div> -->
    	</div>
	</div>
	<div class="row row-bottom">
		<div class="col">
			<button ng-click="cat()" class="button button-block button button-positive">
			  Login
			</button>
		</div>
	</div>
	
  </ion-content>
  <ion-footer-bar>
        <div class="button-bar">
          <button class="button button-energized button-clear">Signup</button>
        </div>
   </ion-footer-bar>
</ion-view>
