/* Empty. Add your own CSS if you like */

.start_background {
	background-color: red;
	background-image: url("https://c1.staticflickr.com/5/4037/4436811900_bb971be9c5_z.jpg");
	filter: blur(0px);
	-webkit-filter: blur(0px);
	/*-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);*/
}

.marginDown {
	/*margin-top: 50px;*/
}
