/* Empty. Add your own CSS if you like */

/* colors */
/* @blue: #345995 */

.start_background {
	background: url("https://c1.staticflickr.com/5/4037/4436811900_bb971be9c5_z.jpg") center center;
	background-size: cover;
}

h1:first-child {
	width: 6em;
	background-color: #fff;
	text-align: center;
	margin: 3.4em auto;
	padding: 0.4em 0;
	border-radius: 2.2em;
}

.button-positive.facebook, .button-positive.action {
	display: block;
	box-sizing: border-box;
	font-size: 1.2rem;
	background: #345995;
	border-color: #345995;
	margin: 2em auto;
	padding: 0.4em 1.3em;
	width: 80%;
	max-width: 18rem;
}

.button-positive.facebook:hover,
.button-positive.facebook:active {
	background: #263D63;
	border-color: #263D63;
}

.button-positive.action {
	background: #EAC435;
	border-color: #EAC435;
}

.button-positive.action:hover,
.button-positive.action:active {
	background: #F0BD00;
	border-color: #F0BD00;
}

.counter-container {
	background: #E8430C;
}

.counter-container h2 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	font-weight: 300;
	margin: 0.4em auto;
}

.counter-container .card {
	box-sizing: border-box;
	width: 100%;
	max-width: 18rem;
	background: transparent;
	background: rgba(250,250,250,0.1);
	border: none;
	margin: 0 auto;
	margin-top: 3em;
	padding: 0;
	color: #fff;
}

.counter-container label {
	display: block;
	font-size: 1.2em;
	padding: 0.6em;
	letter-spacing: 0.03em;
}

.counter-container input {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	text-align: center;
	color: #fff;
	background-color: rgba(250,250,250,0.2);
	font-size: 1.4em;
	padding: 0 2em;
}

.counter-container input:focus {
	background-color: rgba(250,250,250,0.8);
	color: #383838;
}


.places-container {
	background: #03CEA4;
}

.places-container .list.card {
	display: inline-block;
	width: 40%;
	margin: 0;
}

.places-container i {
	display: inline-block;
	font-size: 4em;
	width: 20%;
}

.places-container i span {
	color: #fff;
	margin-left: -1em;
	font-size: 0.6em;
}

.places-container .text {
	display: inline-block;
	width: auto;
	max-width: 78%;
}

