/* Empty. Add your own CSS if you like */

/* colors */
/* @blue: #345995 */

.start_background {
	background: url("https://c1.staticflickr.com/5/4037/4436811900_bb971be9c5_z.jpg") center center;
	background-size: cover;
}

h1:first-child {
	width: 6em;
	background-color: #fff;
	text-align: center;
	margin: 3.4em auto;
	padding: 0.4em 0;
	border-radius: 2.2em;
}

.button-positive.facebook, .button-positive.signup {
	display: block;
	font-size: 1.2rem;
	background: #345995;
	border-color: #345995;
	margin: 2em auto;
	padding: 0.4em 1.3em;
	width: 16em;
}

.button-positive.signup {
	background: #EAC435;
	border-color: #EAC435;
}
